<ng-container *ngIf="categories$ | async as categories">
  <div class="chip-container">
    <mat-chip-set aria-label="Movie category selection">
      <mat-chip-option
        *ngFor="let category of categories; trackBy: trackByCategoryId"
        [value]="category.name"
        [class.selected]="category.selected"
        (selectionChange)="selectChip($event, category)"
      >
        {{ category.name }}
      </mat-chip-option>
    </mat-chip-set>
    <button
      mat-mini-fab
      color="primary"
      class="add-button"
      (click)="openDialog()"
    >
      <mat-icon> add </mat-icon>
    </button>
  </div>
</ng-container>
