<mat-form-field class="search-bar" appearance="outline">
  <mat-label>Search...</mat-label>
  <mat-icon matPrefix>search</mat-icon>
  <input
    matInput
    type="text"
    [(ngModel)]="searchValue"
    (keyup)="searchMovies()"
  />
  <button
    *ngIf="searchValue"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="clearSearch()"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div class="chip-container">
  <mat-chip-set aria-label="Movie category selection">
    <mat-chip-option
      *ngFor="let category of movieCategories"
      [value]="category.name"
      [class.selected]="category.selected"
      (selectionChange)="selectChip($event, category)"
    >
      {{ category.name }}
    </mat-chip-option>
  </mat-chip-set>
</div>

<div class="movies-container">
  <div *ngFor="let movie of filteredMovies" class="movie-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ movie.title }}</mat-card-title>
          <mat-card-subtitle>{{ movie.releaseYear }}</mat-card-subtitle>
        </mat-card-title-group>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navigateToMovie(movie.id)">
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteMovieRequest(movie)">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>
      </mat-card-header>
      <mat-card-content class="movie-card-content">
        <p>{{ movie.genre }}</p>
        <p>{{ movie.director }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
